Package: monacoind
Version: 0.16.2
Section: comm
Priority: optional
Architecture: amd64
Essential: no
Suggests:
Maintainer: raspi0124 <rapsi0124@gmail.com>
Conflicts:
Replaces:
Provides:
Description: Monacoind debian package
